<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Servlet_Signin</servlet-name>
        <servlet-class>viewlayer.Servlet_Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Report_Controller</servlet-name>
        <servlet-class>viewlayer.Servlet_Report_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Signup</servlet-name>
        <servlet-class>viewlayer.Servlet_Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Main_Manager</servlet-name>
        <servlet-class>viewlayer.Servlet_Main_Manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Main_Operator</servlet-name>
        <servlet-class>viewlayer.Servlet_Main_Operator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ViewVehicles</servlet-name>
        <servlet-class>viewlayer.Servlet_ViewVehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_AddVehicle</servlet-name>
        <servlet-class>viewlayer.Servlet_AddVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_UpdateVehicle</servlet-name>
        <servlet-class>viewlayer.Servlet_UpdateVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_DeleteVehicle</servlet-name>
        <servlet-class>viewlayer.Servlet_DeleteVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_TrackGPS</servlet-name>
        <servlet-class>viewlayer.Servlet_TrackGPS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Log_Break_Time</servlet-name>
        <servlet-class>viewlayer.Servlet_Log_Break_Time</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ScheduleMaintenance</servlet-name>
        <servlet-class>viewlayer.Servlet_ScheduleMaintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Report_Cost_Maintenance</servlet-name>
        <servlet-class>viewlayer.Servlet_Report_Cost_Maintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Report_Performance_Operator</servlet-name>
        <servlet-class>viewlayer.Servlet_Report_Performance_Operator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Report_Consumption</servlet-name>
        <servlet-class>viewlayer.Servlet_Report_Consumption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ConsumptionAlerts</servlet-name>
        <servlet-class>viewlayer.Servlet_ConsumptionAlerts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ConsumptionReport</servlet-name>
        <servlet-class>viewlayer.Servlet_ConsumptionReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_MaintenanceAlerts</servlet-name>
        <servlet-class>viewlayer.Servlet_MaintenanceAlerts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_CompleteMaintenance</servlet-name>
        <servlet-class>viewlayer.Servlet_CompleteMaintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Report_Cost_Usage</servlet-name>
        <servlet-class>viewlayer.Servlet_Report_Cost_Usage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Vehicle_Tracking</servlet-name>
        <servlet-class>viewlayer.Servlet_Vehicle_Tracking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Signin</servlet-name>
        <url-pattern>/Servlet_Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Report_Controller</servlet-name>
        <url-pattern>/Servlet_Report_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Signup</servlet-name>
        <url-pattern>/Servlet_Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Main_Manager</servlet-name>
        <url-pattern>/Servlet_Main_Manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Main_Operator</servlet-name>
        <url-pattern>/Servlet_Main_Operator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ViewVehicles</servlet-name>
        <url-pattern>/Servlet_ViewVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_AddVehicle</servlet-name>
        <url-pattern>/Servlet_AddVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_UpdateVehicle</servlet-name>
        <url-pattern>/Servlet_UpdateVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_DeleteVehicle</servlet-name>
        <url-pattern>/Servlet_DeleteVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_TrackGPS</servlet-name>
        <url-pattern>/Servlet_TrackGPS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Log_Break_Time</servlet-name>
        <url-pattern>/Servlet_Log_Break_Time</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ScheduleMaintenance</servlet-name>
        <url-pattern>/Servlet_ScheduleMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Report_Cost_Maintenance</servlet-name>
        <url-pattern>/Servlet_Report_Cost_Maintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Report_Performance_Operator</servlet-name>
        <url-pattern>/Servlet_Report_Performance_Operator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Report_Consumption</servlet-name>
        <url-pattern>/Servlet_Report_Consumption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ConsumptionAlerts</servlet-name>
        <url-pattern>/Servlet_ConsumptionAlerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ConsumptionReport</servlet-name>
        <url-pattern>/Servlet_ConsumptionReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_MaintenanceAlerts</servlet-name>
        <url-pattern>/Servlet_MaintenanceAlerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_CompleteMaintenance</servlet-name>
        <url-pattern>/Servlet_CompleteMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Report_Cost_Usage</servlet-name>
        <url-pattern>/Servlet_Report_Cost_Usage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Vehicle_Tracking</servlet-name>
        <url-pattern>/Servlet_Vehicle_Tracking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
